.env
__pycache__/
*.pyc
.venv/
venv/
node_modules/
dist/
apps/**/bin/
apps/**/obj/
apps/web/node_modules/
apps/web/dist/
node_modules

# Bỏ qua thư mục tạm của Visual Studio
.vs/
*.user
*.suo
*.dbmdl

# Bỏ qua các thư mục build của SSAS / SSIS
bin/
obj/
*.asdatabase
*.deploymentoptions
*.deploymenttargets